html {
  margin:  0px;
  padding: 0px
}
body{
  margin:0px;
  padding:0px 0px 0px 0px
}
div#content{
  margin:12px
}
@media all and (min-width:822px){
  html{background:transparent url("../images/sidebar.png") repeat-y left top}
  div#content{
    padding:0px 60px 0px 60px;
    }
  th {
    background-color: #AE97FF;
  }
  tr:nth-child(even){
    background-color: #f2f2f2;
  }
  td:nth-child(2) {
    text-align:center;
  }
  td:nth-child(1) {
    text-align:center;
  }
  td {
    padding: 2px 10px;
  }
}
