dd {
  padding-left: 1.25em;
}

dt {
  position: relative;
  left: 0;
  width: 3em;
  font-weight: bold;
  top: 1.45em;
  border-right: 1px solid black;
  margin-right: 1em;
}

.subheading {
  font-size: 12pt;
}

.paper-description {
  font-size: 12pt;
  display: block;
}

a:hover.people {
  color:#E34791;
}

a:visited.people {
  color:#DC1975;
}

.talk-information-title {
  font-weight: bold;
}
