dd {
  padding-left: 1.25em;
}

dt {
  position: relative;
  left: 0;
  width: 3em;
  font-weight: bold;
  top: 1.45em;
  border-right: 1px solid black;
  margin-right: 1em;
}

.subheading {
  font-size: 12pt;
}

.paper-description {
  font-size: 12pt;
  display: block;
}

a:hover.people {
  color:#E34791;
}

a:visited.people {
  color:#DC1975;
}

.talk-information-title {
  font-weight: bold;
}

.sidebar-image {
  margin-top: 4rem;
  margin-bottom: 2rem;
  align: center;
  width: 288px;
  height: 288px;
  background: #00509b;
  clip-path: circle();
}

.sidebar-image img {
  position: relative;
  top: 10px;
  left: 10px;
  width: 268px;
  height: 268px;
  clip-path: circle();
}

#hannover-conference-sidebar {
  background-color: #003668;
  text-align: center;
}

#fab75-conference-sidebar {
  background-color: #009260;
  text-align: center;
}

#fab75-conference-sidebar-image {
  background-color: #17A977;
}
