<div class="sidebar">
  <div class="container sidebar">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/writings.html" %} active{% endif %}" href="/writings.html">Writings</a>
      <a class="sidebar-nav-item{% if page.url == "/teaching.html" %} active{% endif %}" href="/teaching.html">Teaching</a>
      <a class="sidebar-nav-item{% if page.url == "/organization.html" %} active{% endif %}" href="/organization.html">Organization</a>
    </nav>
</div>
</div>
