<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [['\\(','\\)'], ['\\(','\\)']]
          },
          TeX: {
            extensions: ["AMSmath.js", "AMSsymbols.js"]
          },
          displayAlign: "left",
          displayIndent: "2em",
        });
      </script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132872354-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-132872354-1');
      </script>
      <link rel="stylesheet" type="text/css" href="css/style.css"/>
      $if(html-title)$
      <title>$html-title$</title>
      $else$
      <title>$title$</title>
      $endif$
  </head>
  <body>
    <div id="header">
      <div id="header-side">
        <h1><a id="name" href="/">Raymond Cheng</a></h1>
      </div>
      <div id="header-content">
        $if(heading)$
        <h1 class="heading">$heading$</h1>
        $endif$
        $if(subheading)$
        <div class="subheading">$subheading$</div>
        $endif$
      </div>
    </div>
    <div id="side-bar">
      <a href="/writing.html">writing</a>
      <a href="/teaching.html">teaching</a>
      <a href="/organization.html">organization</a>
    </div>
    <div id="content">
      $body$
    </div>

    </main>
  </body>
</html>
